<p style="color: green" style="margin: 0 20%;"><%= notice %></p>

<h1 style="margin: 0 20%;">Recipes</h1>
<div style="display:flex; justify-content:flex-end;">
  <%= link_to "Add new Recipe", new_recipe_path, style: "margin: 0 20%;" %>
</div>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render 'recipes', recipe: recipe %>
  <% end %>
</div>

