<h1>Public Recipes</h1>
<%@recipes.each do |recipe|%>
  <%@ingredients = @recipe_foods.where(recipe_id: recipe.id)%>
  <%@total_price = 0%>
  <%@ingredients.each do |item|%>
    <%@total_price += item.food.price * item.quantity%>
  <%end%>
  <div>
    <h2><%= link_to recipe.name, recipe %><span> by <%=recipe.user.name%></span></h2>
    <p><%=recipe.description%></p>
    <p>The total price is $<%=@total_price%></p>
  </div>
<%end%>
